.card-image {
    min-width: 27rem !important;
    height: 100% !important;
    max-height: 27rem !important;
    min-height: 27rem !important;
    object-fit: cover;
}

.is-available {
    width: 2rem;
    height: 2rem;
}

.icon-edit {
    top: 2rem;
    right: 2rem;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}

.propertie-card {
    padding: 2vh 2vh 0;
    border: 0.5vh solid #009d71;
}

.residencial-information {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
}

