.card-image {
    min-width: 27rem !important;
    height: 100% !important;
    max-height: 27rem !important;
    min-height: 27rem !important;
    object-fit: cover;
}

.is-available {
    width: 2rem;
    height: 2rem;
}

.icon-edit {
    top: 1rem;
    right: 1rem;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}